<app-loading type="spinner" color="primary" *ngIf="loading"></app-loading>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="signOut()">
    <mat-icon>logout</mat-icon>
    <span>Sign out</span>
  </button>
</mat-menu>

<div class="main-container" [hidden]="loading">
  <mat-toolbar *ngIf="!hideToolbar" class="app-toolbar">
    <button mat-icon-button matTooltip="Toggle menu" *ngIf="!hideDrawer" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-title">{{ title }}</span>
    <span class="toolbar-spacer"></span>
    <button mat-button class="user-preview-container" [matMenuTriggerFor]="userMenu">
      <span class="user-name" fxHide.lt-sm>{{user?.firstName}} {{user?.lastName}}</span>
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer [mode]="drawerMode" class="main-drawer">
      <mat-list *ngIf="user?.type == 'trainer'" class="nav-list">
        <div mat-subheader>Courses</div>
        <a mat-list-item routerLink="trainer/courses" routerLinkActive="active" class="nav-list-item">
          <mat-icon mat-list-icon>school</mat-icon>
          <div mat-line>Courses</div>
        </a>
        <div mat-subheader>Projects</div>
        <a mat-list-item routerLink="trainer/projects" routerLinkActive="active" class="nav-list-item">
          <mat-icon mat-list-icon>groups</mat-icon>
          <div mat-line>Projects</div>
        </a>
        <div mat-subheader>Trainees</div>
        <a mat-list-item routerLink="trainer/trainees" routerLinkActive="active" class="nav-list-item">
          <mat-icon mat-list-icon>person</mat-icon>
          <div mat-line>Trainees</div>
        </a>
        <a mat-list-item routerLink="trainer/progress" routerLinkActive="active" class="nav-list-item">
          <mat-icon mat-list-icon>donut_small</mat-icon>
          <div mat-line>Progress</div>
        </a>
        <a mat-list-item routerLink="trainer/leaderboard" routerLinkActive="active" class="nav-list-item">
          <mat-icon mat-list-icon>leaderboard</mat-icon>
          <div mat-line>Leaderboard</div>
        </a>
      </mat-list>
    </mat-drawer>
    <div class="main-content" [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-drawer-container>
</div>