<mat-toolbar color="primary" class="app-toolbar">
  <button mat-icon-button matTooltip="Toggle sections" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-title">{{ course?.name }}</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button matTooltip="Exit learning area" (click)="exit()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer [mode]="drawerMode" class="main-drawer">
    <mat-nav-list>
      <a mat-list-item 
        *ngFor="let section of courseSections; let index = index" 
        [ngClass]="{ selected: section.id == currentSection?.id }"
        [disabled]="index > 0 && !courseSections[index - 1].passed"
        (click)="goToSection(section.id)"
        >
        <mat-icon mat-list-icon *ngIf="section.passed">done</mat-icon>
        <div mat-line>{{ section.title }}</div>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <div class="main-content">
    <div class="section-card mat-elevation-z2" *ngIf="currentSection">
      <app-loading type="bar" *ngIf="isLoadingContent"></app-loading>
      <div class="mat-display-3 section-title">
        <span *ngIf="currentSection.type == 'quiz'">Quiz: </span>
        <span>{{ currentSection.title }}</span>
      </div>
      <quill-view-html class="section-content" *ngIf="currentSection.type == 'learning'" [content]="contentSectionLearning.content"></quill-view-html>
      <div class="section-quiz" *ngIf="quizAnswersForm && currentSection.type == 'quiz'" [formGroup]="quizAnswersForm">
        <div class="tip-card severe" *ngIf="quizHasWrongAnswers">
          <mat-icon>error</mat-icon>
          <span class="text">Seems like you got some answers wrong. Please correct the quiz.</span>
        </div>
        <div class="quiz-question" *ngFor="let question of contentSectionQuiz.questions; let i = index" formArrayName="answers">
          <h1 class="question-title">
            <span>{{ i + 1 }}. {{ question.text }}</span>
            <mat-icon 
              *ngIf="correctQuestionAnswers[question.id] != null" 
              [ngClass]="{ success: correctQuestionAnswers[question.id], severe: !correctQuestionAnswers[question.id] }">
              {{ correctQuestionAnswers[question.id] ? 'done' : 'close' }}
            </mat-icon>
          </h1>
          <div class="question-answers" *ngIf="!question.multipleAnswer" [formGroupName]="i">
            <mat-radio-group formControlName="answerId">
              <mat-radio-button class="question-answer" *ngFor="let answer of question.answers" [value]="answer.id">
                {{ answer.text }}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="question-answers" *ngIf="question.multipleAnswer" [formGroupName]="i">
            <mat-selection-list multiple formControlName="answerIds">
              <mat-list-option checkboxPosition="before"  *ngFor="let answer of question.answers" [value]="answer.id">
                {{ answer.text }}
              </mat-list-option>
            </mat-selection-list>
          </div>
        </div>
      </div>
    </div>
    <div class="course-nav" fxLayout="row" fxLayoutAlign="end">
      <button mat-raised-button color="primary" class="with-icon"
        [disabled]="currentSection?.id == firstSection?.id" (click)="goToPreviousSection()">
        <mat-icon>chevron_left</mat-icon>
        <span>Previous section</span>
      </button>
      <button mat-raised-button color="primary" class="with-icon" (click)="goToNextSection()" [disabled]="!canPassSection">
        <span *ngIf="currentSection?.id == lastSection?.id">Finish course</span>
        <span *ngIf="currentSection?.id != lastSection?.id">Next section</span>
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</mat-drawer-container>